@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn {
  @apply text-sm px-8 py-1 bg-zinc-300 border-2 border-black/50 text-zinc-700 hover:bg-zinc-200 hover:text-zinc-800 active:bg-zinc-400 active:text-zinc-900 active:border-zinc-500 duration-75;
}

.btn2 {
  @apply text-sm px-8 py-1 text-zinc-600 hover:text-zinc-800  active:text-zinc-900  duration-75;
}

.link {
  @apply text-zinc-500 hover:text-zinc-800;
}

.article__container {
  @apply p-8 border-4 m-4;
}
